<h1>Chat</h1>

<%= simple_form_for Comment.new, url: appointment_request_comments_path(appointment_request_id: params[:id]), method: :post do |f| %>
  <%= f.input :text %>
  <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
  <%= f.submit 'Submit', class: 'btn btn-success btn-block', data: { disable_with: 'Submitted' } %>
<% end %>

<hr>
<% @comments.each do |comment| %>
  <% user = User.find(comment.user_id) %>
  <div class="row">
    <div class="col-xs-3">
      <span class="pull-left"><small><%= image_tag user.photo.thumb.url, class: 'img_circle_sm' %><%= fullname(user) %></small></span>
      <br>
      <br class="clearfix">
      
    </div>
    <div class="col-xs-9">
      <p><%= comment.text %></p>
    </div>
    <p><span class="pull-right"><small>at <%= comment.created_at.strftime('%m/%d %T') %></small></span></p>
  </div>
  
  <br class="clearfix">
  <hr>
<% end %>