<h1>My Appointments</h1>

<div class="row">
  <% @appointment_requests.each do |appointment_request| %>
  <div class="col-xs-12 col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><%= Company.find(appointment_request.company_id).name %>
          <span class="pull-right"><%= appointment_request.approved ? '<i class="fa fa-check-circle"></i>'.html_safe : '<i class="fa fa-hourglass-half"></i>'.html_safe %></span>
          </h3>
      </div>
      <div class="panel-body">
        <ul style="list-style-type:none;padding-left:0px;">
          <li><strong>Start Time:</strong> <%= appointment_request.start_time %></li>
          <li><strong>End Time:</strong> <%= appointment_request.end_time %></li>
          <li><strong>Status:</strong> <%= appointment_request.approved ? "Approved" : "Waiting" %></li>
        </ul>
        <%= link_to 'View', appointment_request_path(appointment_request), class: 'btn btn-danger btn-block' %>
      </div>
    </div>

  </div>
  <% end %>
</div>