<% if current_user.company_id %>
<h1>Appointment Requests</h1>
<hr>
<h3><%= "There are no incoming requests at this time." if @incoming_request.nil? %></h3>
<div class="row">
  <% @incoming_requests.each do |incoming_request| %>
  <div class="col-xs-12 col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><%= Company.find(incoming_request.company_id).name %>
          <span class="pull-right"><%= incoming_request.approved ? '<i class="fa fa-check-circle"></i>'.html_safe : '<i class="fa fa-hourglass-half"></i>'.html_safe %></span>
          </h3>
      </div>
      <div class="panel-body">
        <ul style="list-style-type:none;padding-left:0px;">
          <li><strong>Start Time:</strong> <%= incoming_request.start_time %></li>
          <li><strong>End Time:</strong> <%= incoming_request.end_time %></li>
          <li><strong>Status:</strong> <%= incoming_request.approved ? "Approved" : "Waiting" %></li>
        </ul>
        <%= link_to 'View', appointment_request_path(incoming_request), class: 'btn btn-danger btn-block' %>
        <%= link_to 'Accept', appointment_approvals_path(appointment_request_id: incoming_request.id), method: :post, class: 'btn btn-success btn-block' unless incoming_request.approved %>
        <%= "<button class='btn btn-success btn-block'><i class='fa fa-check-circle'></i> Approved!</button>".html_safe if incoming_request.approved %>

      </div>
    </div>

  </div>
  <% end %>
</div>

<% end %>


<h1>My Appointments</h1>
<hr>
<h3><%= "You have no appointments at this time. Click <a href='/item_selections/new'>here</a> to make a new appointment request.".html_safe if @appointment_requests.empty? %></h3>
<div class="row">
  <% @appointment_requests.each do |appointment_request| %>
  <div class="col-xs-12 col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><%= Company.find(appointment_request.company_id).name %>
          <span class="pull-right"><%= appointment_request.approved ? '<i class="fa fa-check-circle"></i>'.html_safe : '<i class="fa fa-hourglass-half"></i>'.html_safe %></span>
          </h3>
      </div>
      <div class="panel-body">
        <ul style="list-style-type:none;padding-left:0px;">
          <li><strong>Start Time:</strong> <%= appointment_request.start_time %></li>
          <li><strong>End Time:</strong> <%= appointment_request.end_time %></li>
          <li><strong>Status:</strong> <%= appointment_request.approved ? "Approved" : "Waiting" %></li>
        </ul>
        <%= link_to 'View', appointment_request_path(appointment_request), class: 'btn btn-danger btn-block' %>
      </div>
    </div>

  </div>
  <% end %>
</div>