<h1>Appointment for <%= @company.name %></h1>
<hr>

<div class="row">

  <div class="col-xs-12 col-md-4">
    <div class="well">
      <div class="row profile_container">
        <div class="col-xs-4">
          <%= image_tag @company.photo, class: 'item_image_sm img_circle' %>
        </div>
        <div class="col-xs-8">
          <h5><%= @company.name %></h5>
        </div>
      </div>
      <!-- row -->

      <div class="row profile_container">
        <div class="col-xs-4">
          <%= image_tag @user.photo, class: 'item_image_sm img_circle' %>
        </div>
        <div class="col-xs-8">
          <h5><%= fullname(@user) %></h5>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- well -->

    <div class="well">
      <h3><i class="fa fa-calendar"></i> Appointment Details</h3>
      <ul style="list-style-type:none;padding-left:0px;">
        <li><strong>Start Time:</strong> <%= display_datetime(@appointment_request.start_time) %></li>
        <li><strong>End Time:</strong> <%= display_datetime(@appointment_request.end_time) %></li>
        <li><strong>Status:</strong> <%= status(@appointment_request) %></li>
      </ul>
    </div>
    <!-- well -->

    <div class="well">
      <%= render partial: "companies/details", locals: {company: @company} %>
    </div>
    <!-- well -->
  </div>
  <!-- col-md-4 -->

  <div class="col-xs-12 col-md-8">
    <h1><i class="fa fa-comment"></i> Messages</h1>

    <%= simple_form_for Comment.new, url: appointment_request_comments_path(appointment_request_id: params[:id]), method: :post do |f| %>
      <%= f.input :text, label: false, placeholder: "Enter message here" %>
      <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
      <%= f.submit 'Send', class: 'btn btn-success btn-block', data: { disable_with: 'Submitted' } %>
    <% end %>

    <hr>

    <div class="scrollable">
      <% @comments.each do |comment| %>
        <% user = User.find(comment.user_id) %>
        <div class="row">
          <div class="col-xs-3">
            <span class="pull-left"><small><%= image_tag user.photo.thumb.url, class: 'img_circle_sm' %><%= fullname(user) %></small></span>
            <br>
            <br class="clearfix">
          </div>
          <!-- col-xs-3 -->

          <div class="col-xs-9">
            <p><%= comment.text %></p>
          </div>
          <!-- col-xs-9 -->

          <p>
            <span class="pull-right"><small>at <%= comment.created_at.strftime('%m/%d %T') %></small></span>
          </p>
        </div>
        <!-- row -->
        
        <br class="clearfix">
        <hr>
      <% end %>
      <!-- end of comments loop -->
    </div>
    <!-- scrollable -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><i class="fa fa-list"></i> Items</h3>
      </div>
      <!-- panel-heading -->

      <div class="scrollable">
        <% @appointment_items.each do |appointment_item| %>
          <% item = Item.find(appointment_item.item_id) %>
          

            <div class="panel-body">
              <div class="row">

                <div class="col-xs-2">
                  <div class="thumbnail">
                    <% if item.product_images.empty? %>
                      <%= image_tag 'shirt.png', class: 'item_image_sm' %>
                    <% else %>
                      <%= image_tag ProductImage.find_by(item_id: item.id).photo.thumb.url, class: 'item_image' %>
                    <% end %>
                  </div>
                  <%= link_to 'View Item', item_path(item) %>
                </div>

                <div class="col-xs-10">
                  <%= render partial: "items/card", locals: {item: item} %>
                  <% appointment_item = AppointmentItem.find_by(item_id: item, appointment_request_id: @appointment_request.id) %>
                  <% if current_user.company_id == @appointment_request.company_id %>
                    <div class="row">
                      <div class="col-xs-12">
                        <%= simple_form_for appointment_item, url: item_status_path(item, appointment_request_id: @appointment_request.id), method: :put, remote: true do |f| %>
                          <%= f.collection_radio_buttons :status, AppointmentItem::STATUS, :to_s, :to_s %>
                          <%= f.input :item_id, as: :hidden, input_html: { value: item.id } %>
                          <%= f.input :appointment_request_id, as: :hidden, input_html: { value: @appointment_request.id } %>
                        <% end %>

                        <script type="text/javascript">
                          $('#edit_appointment_item_<%= appointment_item.id %>').change(function(){
                            $.ajax({
                              url: '/item_statuses/<%= appointment_item.id %>?appointment_request_id=<%= @appointment_request.id %>',
                              type: 'PUT',
                              data: $('#edit_appointment_item_<%= appointment_item.id %>').serialize(),
                              success: function(data) {

                              }
                            });
                          });
                        </script>
                      </div>
                      <!-- col-xs-12 col-md-2 -->
                    </div>
                    <!-- row -->
                  <% else %>
                    <p class="pull-right"><strong><%= item_status(appointment_item) %></strong></p>
                  <% end %>
                </div>
                <!-- col-xs-10 -->
              </div>
              <!-- row -->
            </div>
            <!-- panel body -->
            <hr>
        <% end %>
        <!-- end loop -->
      </div>
      <!-- scrollable -->
    </div>
    <!-- panel-default -->
  </div>
  <!-- col-md-8 -->
</div>
<!-- row -->




