<h1>Appointment for <%= @company.name %></h1>
<p><%= @company.description %></p>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="well">
      <h3>Address Details</h3>
      <address>
      <strong><%= @company.name %></strong><br>
      <%= @company.line_1 %><br>
      <%= @company.line_2 %><br>
      <%= @company.line_3 %><br>
      <%= @company.city %><br>
      <%= @company.county_province %><br>
      <%= @company.zip_or_postcode %><br>
      <%= @company.country %><br>
      <%= @company.other_address_details %><br>
      <%= @company.phone %><br>
      <%= @company.email %><br>
      </address>
    </div>
    <!-- well -->
  </div>
  <!-- col-md-4 -->
  
  <div class="col-xs-12 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Items</h3>
      </div>
      <% @appointment_items.each do |appointment_item| %>
        <% item = Item.find(appointment_item.item_id) %>
        

          <div class="panel-body">
            <div class="row">

              <div class="col-xs-2">
                <div class="thumbnail">
                  <% if item.product_images.empty? %>
                    <%= image_tag 'shirt.png', class: 'item_image_sm' %>
                  <% else %>
                    <%= image_tag ProductImage.find_by(item_id: item.id).photo.thumb.url, class: 'item_image' %>
                  <% end %>
                </div>
              </div>

              <div class="col-xs-10">
                <p><%= item.description %></p>
                <span class="pull-right"><%= link_to 'View', item_path(item) %></span>
              </div>

            </div>
            <!-- row -->
          </div>
          <!-- panel body -->
          <hr>
      <% end %>
      <!-- end loop -->
    </div>
      <!-- panel-default -->
  </div>
  <!-- col-md-8 -->
</div>
<!-- row -->

<h1>Comments</h1>

<%= simple_form_for Comment.new, url: appointment_request_comments_path(appointment_request_id: params[:id]), method: :post do |f| %>
  <%= f.input :text %>
  <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
  <%= f.submit 'Submit', class: 'btn btn-success btn-block', data: { disable_with: 'Submitted' } %>
<% end %>

<hr>
<% @comments.each do |comment| %>
  <% user = User.find(comment.user_id) %>
  <div class="row">
    <div class="col-xs-3">
      <span class="pull-left"><small><%= image_tag user.photo.thumb.url, class: 'img_circle_sm' %><%= fullname(user) %></small></span>
      <br>
      <br class="clearfix">
      
    </div>
    <div class="col-xs-9">
      <p><%= comment.text %></p>
    </div>
    <p><span class="pull-right"><small>at <%= comment.created_at.strftime('%m/%d %T') %></small></span></p>
  </div>
  
  <br class="clearfix">
  <hr>
<% end %>





