<h1>Select Company</h1>

<div class="list-group scrollable" style="cursor: pointer; cursor: hand;">

  <% @companies.each do |company| %>

    <a class="list-group-item" id="company_<%= company.id %>">
      <div class="row">

        <div class="col-xs-4 col-sm-2">
          <div class="thumbnail">
            <% if company.photo.nil? %>
              <%= image_tag 'shirt.png', class: 'item_image_sm' %>
            <% else %>
              <%= image_tag company.photo.thumb.url, class: 'item_image' %>
            <% end %>
          </div>
        </div>

        <div class="col-xs-8 col-sm-10">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <h3><%= company.name %></h3>
              <ul class="no_bullets">
                <%= ("<li><strong>Phone:</strong> " + company.phone + "</li>").html_safe %>
                <%= ("<li><strong>Email:</strong> " + company.email + "</li>").html_safe %>
                <%= ("<li><strong>Website:</strong> " + company.url + "</li>").html_safe unless company.url.empty? %>
                <%= ("<li><strong>Number of Locations:</strong> " + company.number_of_locations + "</li>").html_safe %>
                <%= ("<li><strong>Annual Revenue:</strong> " + company.annual_revenue + "</li>").html_safe %>
              </ul>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="panel">
                <div class="panel-body">
                  <ul class="no_bullets">
                    <strong>Address</strong>
                    <%= ("<li>" + company.line_1 + "</li>").html_safe unless company.line_1.empty? %>
                    <%= ("<li>" + company.line_2 + "</li>").html_safe unless company.line_2.empty?  %>
                    <%= ("<li>" + company.line_3 + "</li>").html_safe unless company.line_3.empty? %>
                    <%= ("<li>" + company.city + ", ").html_safe %>
                    <%= ("<li>" + company.county_province + ", ").html_safe unless company.county_province.empty? %>
                    <%= ("<li>" + company.zip_or_postcode + "</li>").html_safe unless company.zip_or_postcode.empty? %>
                    <%= ("<li>" + company.country + "</li>").html_safe unless company.country == "US" %>
                    <%= ("<li>" + company.other_address_details + "</li>").html_safe unless company.other_address_details.empty? %>
                  </ul>
                </div>
                <!-- panel-body -->
              </div>
              <!-- panel -->
            </div>
            <!-- col-xs-12 col-md-6 -->
          </div>
          <!-- row -->
        </div>
        <!-- col-xs-10 -->
      </div>
      <!-- row -->
    </a>

    <script>

    $("#company_<%= company.id %>").click(function(){
      var company_id = "<%= company.id %>";

      // set to active
      $('.list-group-item').removeClass("active");
      $(this).toggleClass("active");

      // push in array if it doesn't exist already, otherwise pop the element
      company = "<%= company.id %>"
    })

    </script>

  <% end %>

</div>

<button class="btn btn-success btn-lg btn-block" id="company_select_next"><i class="fa fa-chevron-circle-right"></i> Next</button>

<script type="text/javascript">
var company;

// get params
var queries = {};
$.each(document.location.search.substr(1).split('&'),function(c,q){
  var i = q.split('=');
  queries[i[0].toString()] = i[1].toString();
});

$("#company_select_next").click(function(){
  if (company == null) {
    alert("Please select a company");
  }
  else {
    window.location.replace("/appointment_requests/new?item_ids=" + queries["item_ids"] + "&company_id=" + company);
  }
});

</script>