<h1>Edit Details</h1>
<br>

<%= simple_form_for @company do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :line_1 %>
  <%= f.input :line_2 %>
  <%= f.input :line_3 %>
  <%= f.input :city %>
  <%= f.input :county_province %>
  <%= f.input :zip_or_postcode %>
  <%= f.input :country %>
  <%= f.input :other_address_details %>
  <%= f.input :phone %>
  <%= f.input :email %>
  <%= f.input :url, label: "Website" %>
  <%= f.input :number_of_locations, collection: Company::LOCATION_NUMBER_OPTIONS, label: 'Number of Locations' %>
  <%= f.input :annual_revenue, collection: Company::ANNUAL_REVENUE_OPTIONS, label: 'Annual Revenue' %>
  <%= f.label "Company Logo" %>
  <%= f.file_field :photo %>
  <br>
  <%= f.submit 'Submit', class: 'btn btn-success btn-lg btn-block' %>
<% end %>