<h1><%= @company.name %></h1>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="well">
      <div class="thumbnail">
        <%= image_tag @company.photo.thumb.url, class: 'item_image' %>
      </div>
      <p><%= @company.description %></p>
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    
    <%= render partial: 'companies/details', locals: { company: @company } %>
    <span class="pull-right"><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_company_path(@company) if current_user.company_id == @company.id %></span>
  </div>

</div>