<h1>Add Photo</h1>

<div class="row">
<% if @images %>
  <% @images.each do |image| %>
    <div class="col-xs-12 col-md-6">
      <%= image_tag image.photo.thumb.url, class: 'square item_image' %>
    </div>
  <% end %>
<% end %>
</div>

<%= simple_form_for @product_image do |f| %>
  <%= f.file_field :photo %><br>
  <%= f.input :item_id, as: :hidden, :input_html => { :value => params[:item_id] } %>
  <%= button_tag(type: 'submit', class: 'btn btn-success btn-lg btn-block', data: { disable_with: "Uploading..." }) do %>
    <i class="fa fa-plus-circle"></i> Add New Photo
  <% end %>
<% end %>

<br>
<%= link_to 'Done', items_path, class: 'btn btn-primary btn-lg btn-block' %>