<h1>Edit Details</h1>

<%= simple_form_for @item, method: :put do |f| %>
  <%= f.input :brand %>
  <%= f.input :category %>
  <%= f.input :color %>
  <%= f.input :size %>
  <%= f.input :material %>
  <%= f.input :condition, collection: Item::CONDITION %>
  <%= f.input :alterations, placeholder: 'Leave blank if no alterations.' %>
  <%= f.input :description %>
  <%= f.submit 'Submit', class: 'btn btn-success' %>
<% end %>