<h1>My Items</h1>
<%= link_to ('<i class="fa fa-plus-circle"></i> Add New Item').html_safe, new_item_path %>
<hr>

<div class="list-group" style="cursor: pointer; cursor: hand;">

  <% @items.each do |item| %>
    
    <div class="list-group-item" id = "item_<%= item.id %>">
      <div class="row">
        <div class="col-xs-2">
          <div class="thumbnail">
            <% if item.product_images.empty? %>
              <%= image_tag 'shirt.png', class: 'item_image_sm' %>
            <% else %>
              <%= image_tag ProductImage.find_by(item_id: item.id).photo.thumb.url, class: 'item_image' %>
            <% end %>
          </div>
        </div>

        <div class="col-xs-10">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="panel">
                <div class="panel-body">
                  <ul style="list-style-type:none;padding-left:0px">
                    <li><strong>Brand:</strong> <%= item.brand %></li>
                    <li><strong>Category:</strong> <%= item.category %></li>
                    <% unless item.sub_category.empty? %>
                      <li><strong>Sub Category:</strong> <%= item.sub_category %></li>
                    <% end %>
                    <li><strong>Color:</strong> <%= item.color %></li>
                  </ul>
                </div>
                <!-- panel-body -->
              </div>
              <!-- panel -->
            </div>
            <!-- col-xs-12 col-md-6 -->

            <div class="col-xs-12 col-md-6">
               <div class="panel">
                <div class="panel-body">
                  <ul style="list-style-type:none;padding-left:0px">
                    <li><strong>Size:</strong> <%= item.size %></li>
                    <% unless item.sleeve_length.empty? %>
                      <li><strong>Sleeve Length:</strong> <%= item.sleeve_length %></li>
                    <% end %>
                    <% unless item.inseam_length.empty? %>
                      <li><strong>Inseam Length:</strong> <%= item.inseam_length %></li>
                    <% end %>
                    <% unless item.suit_length.empty? %>
                      <li><strong>Suit Length:</strong> <%= item.suit_length %></li>
                    <% end %>
                    <% unless item.shoe_width.empty? %>
                      <li><strong>Shoe Width:</strong> <%= item.shoe_width %></li>
                    <% end %>
                    <li><strong>Material:</strong> <%= item.material %></li>
                    <li><strong>Condition:</strong> <%= item.condition %></li>
                    <!-- <li><strong>Description:</strong> <%= item.description %></li> -->
                  </ul>
                </div>
                <!-- panel-body -->
              </div>
              <!-- panel -->
            </div>
            <!-- col-xs-12 col-md-6 -->
          </div>
          <!-- row -->
          <span class="pull-right">
            <%= link_to '<i class="fa fa-plus-circle"></i> Add New Photo'.html_safe, edit_product_image_path(id: 1, image_upload_id: item.image_upload_id), style: "margin-right: 10px" %>
            <%= link_to '<i class="fa fa-chevron-circle-right"></i> Details'.html_safe, item_path(item), style: "margin-right: 10px" %>
            <%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_item_path(item), style: "margin-right: 10px" if item.user_id == current_user.id %> 
            <%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, item_path(item), method: :delete, data: { confirm: "Are you sure?" } %>
          </span>
          
        </div>
        <!-- col-xs-10 -->
      </div>
      <!-- row -->
    </div>
    <!-- list-group-item -->

    <script type="text/javascript">
      $("#item_<%= item.id %>").click(function(){
         window.location = "/items/<%= item.id %>";
      })

    </script>

  <% end %>

</div>

