<h1>My Items</h1>
<div class="row">

  <% @items.each do |item| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">

        <div class="col-xs-2">
          <div class="thumbnail">
            <% if item.product_images.empty? %>
              <%= image_tag 'shirt.png', class: 'item_image_sm' %>
            <% else %>
              <%= image_tag ProductImage.find_by(item_id: item.id).photo.thumb.url, class: 'item_image' %>
            <% end %>
          </div>
        </div>

        <div class="col-xs-10">
          <p><%= item.description %></p>
          <span class="pull-right"><%= link_to '<i class="fa fa-plus-circle"></i> Add New Photo'.html_safe, new_product_image_path(item_id: item.id), style: "margin-right: 10px" %> <%= link_to '<i class="fa fa-chevron-circle-right"></i> Details'.html_safe, item_path(item), style: "margin-right: 10px" %> <%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_item_path(item) if item.user_id == current_user.id %></span>
        </div>

      </div>
    </div>
  </div>
  
  <% end %>

</div>