<div class="row">
  <h1>Item Photos</h1>
  <% if @images %>
    <% @images.each do |image| %>
      <div class="col-xs-12 col-md-3">
        <%= image_tag image.photo.thumb.url, class: 'square item_image', style: 'padding-bottom: 0px' %>
      </div>
    <% end %>
  <% end %>
</div>

<h1>Enter Details</h1>

<%= simple_form_for @item do |f| %>
  <%= f.input :gender, collection: Item::GENDERS %>
  <%= f.input :category, collection: Item::MENS_CATEGORIES %>
  <%= f.input :sub_category, collection: ["N/A"] %>
  <%= f.input :brand, collection: Item::MENS_APPAREL_BRANDS %>
  <%= f.input :size, collection: Item::MENS_SHIRT_SIZES %>
  <%= f.input :sleeve_length, collection: Item::MENS_SLEEVE_LENGTH %>
  <%= f.input :inseam_length, collection: Item::MENS_INSEAM_LENGTH %>
  <%= f.input :suit_length, collection: Item::MENS_SUIT_LENGTH %>
  <%= f.input :shoe_width, collection: Item::MENS_SHOE_WIDTH %>
  <%= f.input :color, collection: Item::COLORS %>
  <%= f.input :material, collection: Item::MENS_APPAREL_MATERIALS %>
  <%= f.input :condition, collection: Item::CONDITION %>
  <%= f.input :alterations %>
  <%= f.input :description %>
  <%= f.input :image_upload_id, as: :hidden, input_html: { value: params[:image_upload_id] } %>
  <%= f.submit 'Submit', class: 'btn btn-success btn-lg btn-block', data: { disable_with: 'Please wait...' } %>
<% end %>

<br>

<%= link_to 'Cancel', dashboard_path, class: 'btn btn-danger btn-lg btn-block' unless params[:image_upload_id] %>
<%= link_to 'Cancel', image_upload_path(params[:image_upload_id]), method: :delete, class: 'btn btn-danger btn-lg btn-block', data: {confirm: "Are you sure?"} if params[:image_upload_id] %>

<script type="text/javascript">

hideExtraFields();

// make option values for form
function makeList(array){
  var list = "";
  for (var i = 0; i < array.length; i++) {
    list += '<option value="' + array[i] + '">' + array[i] + '</option>';
  }
  return list;
}

// return true if mens item
function isMens() {
  if ($('#item_gender option:selected').text() == "<%= Item::GENDERS[0] %>") {
    return true;
  } else {
    return false;
  }
}

var womens_categories = makeList(<%= raw(Item::WOMENS_CATEGORIES) %>);
var womens_apparel_brands = makeList(<%= raw(Item::WOMENS_APPAREL_BRANDS) %>);
var womens_apparel_materials = makeList(<%= raw(Item::WOMENS_APPAREL_MATERIALS) %>);
var womens_sizes = makeList(<%= raw(Item::WOMENS_SIZES) %>);

var womens_bag_categories = makeList(<%= raw(Item::WOMENS_BAG_CATEGORIES) %>);
var womens_handbag_brands = makeList(<%= raw(Item::WOMENS_HANDBAG_BRANDS) %>);

var womens_shoe_categories = makeList(<%= raw(Item::WOMENS_SHOE_CATEGORIES) %>);
var womens_shoe_sizes = makeList(<%= raw(Item::WOMENS_SHOE_SIZES) %>);
var womens_shoe_materials = makeList(<%= raw(Item::WOMENS_SHOE_MATERIALS) %>);
var womens_shoe_brands = makeList(<%= raw(Item::WOMENS_SHOE_BRANDS) %>);

var mens_categories = makeList(<%= raw(Item::MENS_CATEGORIES) %>);
var mens_apparel_brands = makeList(<%= raw(Item::MENS_APPAREL_BRANDS) %>);
var mens_apparel_materials = makeList(<%= raw(Item::MENS_APPAREL_MATERIALS) %>);

var mens_shirt_sizes = makeList(<%= raw(Item::MENS_SHIRT_SIZES) %>);
var mens_sleeve_length = makeList(<%= raw(Item::MENS_SLEEVE_LENGTH) %>);

var mens_pants_sizes = makeList(<%= raw(Item::MENS_PANTS_SIZES) %>);
var mens_inseam_length = makeList(<%= raw(Item::MENS_INSEAM_LENGTH) %>);

var mens_jacket_sizes = makeList(<%= raw(Item::MENS_JACKET_SIZES) %>);
var mens_suit_length = makeList(<%= raw(Item::MENS_SUIT_LENGTH) %>);

var mens_shoe_categories = makeList(<%= raw(Item::MENS_SHOE_CATEGORIES) %>);
var mens_shoe_brands = makeList(<%= raw(Item::MENS_SHOE_BRANDS) %>);
var mens_shoe_materials = makeList(<%= raw(Item::MENS_SHOE_MATERIALS) %>);
var mens_shoe_sizes = makeList(<%= raw(Item::MENS_SHOE_SIZES) %>);
var mens_shoe_width = makeList(<%= raw(Item::MENS_SHOE_WIDTH) %>);

var selected = $('#item_gender option:selected').text();

// hide extra form fields
function hideExtraFields(){
  $("label[for=item_sleeve_length], #item_sleeve_length").hide();
  $("label[for=item_inseam_length], #item_inseam_length").hide();
  $("label[for=item_suit_length], #item_suit_length").hide();
  $("label[for=item_shoe_width], #item_shoe_width").hide();
}

$("#item_gender").on('change',function(){
    var selected = $('#item_gender option:selected').text();
    if(selected == "<%= Item::GENDERS[0] %>"){
        $("#item_category").html(mens_categories);
    } else if(selected == "<%= Item::GENDERS[1] %>"){
        $("#item_category").html(womens_categories);
    }
});

$("#item_category").on('change', function(){
    hideExtraFields();
    var selected = $('#item_category option:selected').text();
    if(selected == "Shoes" && isMens()){
        $("#item_sub_category").html(mens_shoe_categories);
        $("#item_brand").html(mens_shoe_brands);
        $("#item_material").html(mens_shoe_materials);
        $("#item_size").html(mens_shoe_sizes);
        $("label[for=item_shoe_width], #item_shoe_width").show();
    } else if(selected == "Shoes" && !isMens()){
        $("#item_sub_category").html(womens_shoe_categories);
        $("#item_brand").html(womens_shoe_brands);
        $("#item_material").html(womens_shoe_materials);
        $("#item_size").html(womens_shoe_sizes);
    } else if(selected == "Bags" && !isMens()) {
        $("#item_sub_category").html(womens_bag_categories);
        $("#item_brand").html(womens_handbag_brands);
    } else if (selected == "Shirts" && isMens()){
        $("#item_size").html(mens_shirt_sizes);
        $("label[for=item_sleeve_length], #item_sleeve_length").show();
    } else if(selected == "Pants" && isMens()) {
        $("#item_size").html(mens_pants_sizes);
        $("label[for=item_inseam_length], #item_inseam_length").show();
    } else if((selected == "Outerwear" || selected == "Sport Coat") && isMens()) {
        $("#item_size").html(mens_jacket_sizes);
    } else if(selected == "Suits" && isMens()) {
        $("#item_size").html(mens_suit_length);
        $("label[for=item_suit_length], #item_suit_length").show();
    } else if(isMens()) {
        $("#item_brand").html(mens_apparel_brands);
        $("#item_material").html(mens_apparel_materials);
    } else {
        $("#item_brand").html(womens_apparel_brands);
        $("#item_material").html(womens_apparel_materials);
        $("#item_size").html(womens_sizes);
    }
});

</script>












