
<div id="blur_parent">
  <div id="blur_image">
  </div>
    <div class="image_text_wrapper">
      <div class="image_text">

        <!-- flash messages -->
        <% flash.each do |message_type, message| %>
          <% if message_type == "notice" %>
            <div class="alert alert-info alert-dismissible"><%= notice %></div>
          <% elsif message_type == "alert" %>
            <div class="alert alert-danger alert-dismissible"><%= alert %></div>
          <% else %>
            <div class="alert alert-<%= message_type %> alert-dismissible"><%= message %></div>
          <% end %>
        <% end %>

        <div style="margin-top: 70px">
          <%= image_tag 'logo_text.png', style: "height: 60px; display:block; margin: 0 auto;" %>

          <h1>Simplifying Consignment.</h1>
          <br>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-lg btn-danger btn-fixed' %>
          <%= link_to 'Log In', new_user_session_path, class: 'btn btn-lg btn-success btn-fixed' %>
        </div>
      </div>
    </div>

  
</div>