<!DOCTYPE html>
<html>
<head>
  <title>äLuxuRē | Simplifying Consignment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body id="top">

<%= render 'layouts/nav' %>

<%= render 'layouts/carousel' %>

<%= render 'layouts/below_carousel' %>

<%= render 'layouts/recent_projects' %>

<%= render 'layouts/footer' %>

<script type="text/javascript">

$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});

$(function() {
  $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
});

$("#sign_up, #sign_up_nav").on("click", function(){
  $("#image_content").fadeOut(800);
  setTimeout(function(){
    $("#sign_up_options").fadeIn("slow");
  }, 800);
});

$(function(){
    $("#copy_h1").typed({
        strings: ["Simplifying Consignment."],
        typeSpeed: 40
    });
});

</script>

</body>
</html>
